<form action="/user/signup" method="POST">
    <p>TRAVIS</p>

    <p>Sign up</p>

    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email address">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign up</button>

    <p>By signing up, you agree that you accept out Terms of Use</p>
</form>
